body{
    background: black;
    color: white;
    margin:0;
}

a{
    color: inherit;
    text-decoration: none;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}



.top-nav-bar>nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.top-nav-bar>nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.top-nav-bar{
    padding: 20px 16px 20px 16px;
}
.top-nav-bar>nav{
    float: right;
}

.top-nav-bar>nav>ul>li>a{
    color: #b7b7b7;
    font-weight: bold;
    font-size: 14px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    margin-top: 3px;
}

.top-nav-bar>nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}

.top-nav-bar .logo{
    font-size: 24px;
    font-family: "Yu Gothic";
    font-weight: bold;
}
.top-nav-bar .logo .rs{
  margin-right: 4px;
  color: #e6686a;
}

.top-nav-bar .logo .card{
    color: #9a9da2;
    
}